html, body {
    font-family: Calibri, Tahoma, FreeSans, Helvetica, Arial, sans-serif;
    font-size: small;
}

h1 {
    font-size: 1.2em;
}

table
{
    border-collapse:collapse;
}

table.scenarioTable
{
    border: 1px solid #d3d3d3;
}

table.scenarioTable th
{
    border: 1px solid #d3d3d3;
}


table.scenarioTable td
{
    border: 1px solid #d3d3d3;
}


.scenarioContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pageLink {
    font-size: 1.2em;
}