html, body {
    font-family: Calibri, Tahoma, FreeSans, Helvetica, Arial, sans-serif;
    font-size: small;
}

h1 {
    font-size: 1.2em;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    margin: 5px;
}

table {
    border-collapse: collapse;
}

table.scenarioTable {
    border: 1px solid #d3d3d3;
}

table.scenarioTable th {
    border: 1px solid #d3d3d3;
}

table.scenarioTable td {
    border: 1px solid #d3d3d3;
}

.scenarioContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.readOnlyscenarioContainer {
    padding: 0px 10px 10px 10px;
    border: 1px solid #d3d3d3;
    margin-bottom: 10px;
}

.pageLink {
    font-size: 1.2em;
}

.breadcrumb {
    background: none;
    border: none;
}

.log {
    width: 100%;
    border: 1px solid #d3d3d3;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;

}